/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.center-div {
  margin: 0 auto;
}

.form-card {
  margin-top: 75px;
  width: 600px;
}

img.form-logo {
  width: 250px;
  display: block;
  margin: auto;
}

a.form-alternative {
  display: inline-block;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.cursor-hover:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
}

.highlight {
  border: #4055af solid 5px;
}
