/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.center-div {
  margin: 0 auto;
}

.form-card {
  margin-top: 75px;
  width: 600px;
}

img.form-logo {
  width: 250px;
  display: block;
  margin: auto;
}

a.form-alternative {
  display: inline-block;
  margin-top: 10px;
}
