<div *ngIf="loading; else mainContent" class="full-width">
  <mat-spinner [diameter]="100" class="center-div"></mat-spinner>
</div>
<ng-template #mainContent>
  <mat-error>{{error}}</mat-error>
  <div class="button-row" style="margin-top: 10px;">
    <button mat-raised-button color="primary" class="button" [disabled]="!selected" (click)="enterWorkspace()">Enter Workspace</button>
    <button mat-raised-button color="error" class="button" [disabled]="!selected" (click)="deleteWorkspace()">Delete Workspace</button>
    <button mat-icon-button matTooltip="Add a user to this workspace" [disabled]="!selected" (click)="addUserToWorkspace()" >
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="openWorkspaceHelpDialog()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <div *ngIf="workspaces; else else_block">
    <div style="margin: 30px">
      <mat-grid-list [cols]="adjustedCols" gutterSize="30px" (window:resize)="onResize($event)">
        <mat-grid-tile class="grid-element add-element cursor-hover" (click)="addElementClicked()">
          <mat-card class="workspace-card">
            <mat-icon>add</mat-icon>
            <mat-card-content>
              <p>Workspace</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-element content-element cursor-hover" *ngFor="let workspace of workspaces['workspaces']"
                       (click)="elementClicked(workspace['id'])" [ngClass]="(workspace['id'] === selected) ? 'highlight' : ''">
          <mat-card class="workspace-card">
            <mat-icon>work</mat-icon>
            <mat-card-content>
              {{workspace['name']}}
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <ng-template #else_block>
    <div style="margin: 30px">
      <mat-grid-list [cols]="adjustedCols" gutterSize="30px" (window:resize)="onResize($event)">
        <mat-grid-tile class="grid-element add-element cursor-hover" (click)="addElementClicked()">
          <mat-card class="workspace-card">
            <mat-icon>add</mat-icon>
            <mat-card-content>
              <p>Workspace</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
</ng-template>
