.grid-element {
}

.workspace-card {
  padding-top: 30%;
}

.content-element mat-card{
  width: 95%;
  height: 95%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
}

.add-element mat-card{
  width: 95%;
  height: 95%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
}
