#accountMenu{
    float: right;
    margin-top: 1.0em;
}

#toolBar{
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: whitesmoke;
    border-bottom-color: gainsboro;
}

#innerComponent {
    height: 100vh;
}

#mySidenav {
    padding: 4px, 4px, 4px, 4px;
}

#mySidenav button{
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}