#accountMenu{
    float: right;
}

#toolBar{
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gainsboro;
}

#innerComponent {
    height: 100vh;
}

#mySidenav {
    padding: 4px, 4px, 4px, 4px;
}

#mySidenav button{
    display: block;
    
    margin-bottom: 5px;
}